extends layout.pug

block content
    form(method="post" action="/user/login")
        input(type="hidden" name="_csrf" value=csrfToken)
        div
            label Email Address
            input(type='email' name='email' required)
        div
            label Password
            input(type='password' name='password' required)
        div
            button(type='submit') Submit
